<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBl3_2FswQMfBba9cbll2IfxnhGMEpeTRc</string>
	<key>GCM_SENDER_ID</key>
	<string>707585914539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mukaramgaitova.exam-mod5</string>
	<key>PROJECT_ID</key>
	<string>exam5-b9939</string>
	<key>STORAGE_BUCKET</key>
	<string>exam5-b9939.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707585914539:ios:e226541d8c9f94febea9ee</string>
</dict>
</plist>